<h1><%= EventProfile.model_name.human %> Stats</h1>

<% EventProfile.order('name asc').each do |event_profile| %>
  <h1><%= event_profile.name %></h1>
  <div class='row'>
    <%= render partial: 'shared/bar_chart',
               locals: {
                 name: "note_stats_pie_chart_#{event_profile.id}",
                 data: event_profile.note_names_bar_data
               } %> 
  </div> 
<% end %>
