    <% if @event_profile.notes.any? %>
      <div id='midi_fields'>
        <% @event.midi_notes.each_with_index do |midi_note,index| %>
          <input type='hidden' 
                 name="event[midi_notes][<%=index%>]"
                 value="<%= midi_note %>" />
        <% end %>
      </div>

      <div class='notes_field'>
        <% @event.octaves.each do |octave| %>
          <%= render 'octave_field', octave: octave %>
        <% end %>
      </div>

    </div>
  <% end %>

