<div class="modal fade" id="waiting_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Submitting Event</h4>
      </div>
      <div class="modal-body">
        <p id='processing_message' class='text-center'>
          Processing...
        </p>
        <p id='waiting_message' class='text-center' style='display:none;'>
          Waiting...
        </p>
        <div id='waiting_countdown' class='text-center massive' style='display:none;'>
          3
        </div>
      </div>
    </div>
  </div>
</div>
