$white_note: #dddddd ;
$white_note_hover: #eeeeee ;
$white_note_selected: #ffffff ;
$white_note_inactive: #bbbbbb ;

$black_note: #333333 ;
$black_note_hover: #111111 ;
$black_note_selected: #000000 ;
$black_note_inactive: #555555 ;

$keyboard_back: #bbb740 ;
$key_offset: 40px;

$sample_button_background: #fff740;
$sample_button_hover: #fff970;
$sample_button_text:#000000; 
$sample_button_holder: #bbb740 ;

.button_holder {
  padding-bottom: 10px;
}

.massive {
  font-size: 200px;
}

.length_image {
  // Be aware that this height will re-scale images
  height: 40px;
}

.sample_button_holder {
  position:relative;
  float:left;

  background-color:$sample_button_holder;
  padding: 2px;
  //margin-top: 16px;  
}


.sample_button_holder{

  .sample_button {
    background-color: $sample_button_background;
    color: $sample_button_text;
    position:relative;
    float: left; 
    height: 50px;
    min-width: 91px;
    text-align: center;
    border: 2px solid black;
    padding-top: 13px;
    margin: 2px;
  
    &:hover{
      background-color: $sample_button_hover;
    }
  }
}


.octave {
  position:relative;
  float: left;
  width: 280px;
  height: 100px;
  background-color: $keyboard-back ; 
  -webkit-box-sizing: content-box ;
  box-sizing: content-box ; 
} 


.octave {
  border-left:1px solid $keyboard-back;
  border-right:1px solid $keyboard-back;

  .octave_label {
    text-align: center;
  }

  .note {
    position:absolute;
    top: 20px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;

    &.black{
      background-color: $black_note ;
      color: $white_note ;
      height:58px;
      z-index: 2 ;
      width: 25px;
      &:hover {
        background-color: $black_note_hover;
      }
      &.selected{
        background-color: $black_note_selected;
      }
      &.inactive{
        background-color: $black_note_inactive;
      }
    }

    &.white{
      background-color: $white_note ;
      color: $black_note ;
      height:78px;
      z-index: 1 ;
      width: 38px;
      padding-top: 60px; 
      &:hover{
        background-color: $white_note_hover;
      }
      &.selected{ 
        background-color: $white_note_selected;
      }
      &.inactive{
        background-color: $white_note_inactive;
      }
    }
  }

  .C{
    left: 1px;
  }

  .C-sharp{
    left: ($key_offset * 0.7);
  }

  .D{
    left: (($key_offset * 1) + 1);
  }

  .D-sharp{
    left: ($key_offset * 1.7) ;
  }

  .E{
    left: (($key_offset * 2) + 1);
  }

  .F{
    left: (($key_offset * 3) + 1);
  }

  .F-sharp{
    left: ($key_offset * 3.7);
  }

  .G{
    left: (($key_offset * 4) + 1);
  }

  .G-sharp{
    left: ($key_offset * 4.7);
  }

  .A{
    left: (($key_offset * 5) + 1);
  }

  .A-sharp{
    left: ($key_offset * 5.7);
  }

  .B{
    left: (($key_offset * 6) + 1);
  }

}
